<form class="example-form">
    <mat-form-field class="full-widht">
        <input matInput placeholder="Vorname" [(ngModel)]="user.vorname" maxlength="30" name="vorname" />
        <mat-hint align="end">{{user.vorname.length}} / 30</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-widht">
        <input matInput placeholder="Nachname" [(ngModel)]="user.nachname" maxlength="30" name="nachname" />
        <mat-hint align="end">{{user.nachname.length}} / 30</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-widht">
        <input matInput placeholder="Email" [(ngModel)]="user.email" maxlength="30" name="email" />
        <mat-hint align="end">{{user.email.length}} / 30</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-widht">
        <input matInput placeholder="Password" [(ngModel)]="user.password" maxlength="30" name="passwort" />
        <mat-hint align="end">{{user.passwort.length}} / 30</mat-hint>
    </mat-form-field>
    <br />
    <button mat-button (click)="save()">registrieren</button>
</form>





<!--<div class="registration">
    <h2>Registrieren</h2>
    <div>
        <label for="vorname">Vorname: </label>
        <br />
        <input type="text" name="vorname" class="register-form" ng-model="user.vorname" />
    </div>
    <div>
        <label for="vorname">Nachname: </label>
        <br />
        <input type="text" name="vorname" class="register-form" ng-model="user.nachname" />
    </div>
    <div>
        <label for="vorname">Email: </label>
        <br />
        <input type="text" name="vorname" class="register-form" ng-model="user.email" />
    </div>
    <div>
        <label for="vorname">Passwort: </label>
        <br />
        <input type="text" name="vorname" class="register-form" ng-model="user.passwort" />
    </div>
    <div class="register-actions">
        <button (click)="goOn()">Registrieren</button>
    </div>
</div>

    -->