

<mat-toolbar class="toolbar-box" color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>assignment</mat-icon>
            <span>Meine Kurse</span>
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Einstellungen</span>
        </button>
    </mat-menu>
    {{title}}
</mat-toolbar>
<router-outlet></router-outlet>