<mat-spinner *ngIf="!kurs || !kategorien"></mat-spinner>
<form *ngIf="kurs && kategorien" class="kurs-form">
    <mat-form-field class="full-widht">
        <input matInput placeholder="Name" [(ngModel)]="kurs.name" maxlength="100" name="Name" />
        <mat-hint align="right">{{kurs.name.length}} / 100</mat-hint>
    </mat-form-field>
    <!--<mat-form-field class="full-widht">
        <textarea matInput placeholder="Beschreibung" [(ngModel)]="kurs.beschreibung" maxlength="250" name="beschreibung"></textarea>
        <mat-hint align="end">/ 250</mat-hint>
    </mat-form-field> -->
    <mat-form-field>
        <mat-select class="full-widht select-fix" placeholder="Kategorie" [(ngModel)]="kurs.kategorieID" name="kategorie">
            <mat-option *ngFor="let kategorie of kategorien" [value]="kategorie.kategorieID">{{kategorie.kategorieID}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" (click)="save()">save</button>
        <button mat-raised-button color="warn" (click)="delete()">delete</button>
    </div>
</form>